@using lang = Resource.Web; 
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePasswordForm", @class = "form-horizontal" }))
{
    <div>
 
        <div class="control-group">
            <label for="OldPassword" class="control-label"><span>@lang.OldPassword</span></label>
            <div class="controls">
                <input type="password" name="OldPassword" id="OldPassword" autocomplete="off"/>
                <span class="form_tip"></span>
            </div>
        </div>
        
        <div class="control-group">
            <label for="NewPassword" class="control-label"><span>@lang.NewPassword</span></label>
            <div class="controls">
                <input type="password" name="NewPassword" id="NewPassword" autocomplete="off"/>
                <span class="form_tip"></span>
            </div>
        </div>
        
        <div class="control-group">
            <label for="ConfirmPassword" class="control-label"><span>@lang.ConfirmPassword</span></label>
            <div class="controls">
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" autocomplete="off"/>
                <span class="form_tip"></span>
                <div class="summary_tip_wrap"><p class="summary_tip"></p></div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls loadingwrap">
                <a class="btn" id="BtnChangePassword">@lang.Ok</a>
            </div>
        </div>

    </div>
}
<div id="changePasswordSuccess" class="hide">@lang.Tip_ChangePasswordSuccess <a id="backToChangePassword">@lang.Back</a></div>