@model Yqblog.Models.CommentModel
@using Yqblog.General
@using lang = Resource.Web;
@{
    var webConfigInfo = ViewBag.CI as GeneralConfigInfo;
}
@if ((webConfigInfo != null && !webConfigInfo.UserPermission) || ((Session["user"] as Yqblog.Data.blog_users) != null))
{
    <form name="CommentForm" id="CommentForm" action="" role="form">
        <div class="tabbable innerContent">
            <input type="hidden" value="@Model.CommentId" id="CommentId" name="CommentId"/>
            <input type="hidden" value="@Model.ParentId" id="ParentId" name="ParentId"/>
            <input type="hidden" value="@Model.CommentArticleId" id="CommentArticleId" name="CommentArticleId"/>
            <input type="hidden" value="@Model.DataType" id="DataType" name="DataType"/>
            <input type="hidden" value="@Model.UserId" id="UserId" name="UserId"/>
            <div class="form-remark"></div>
            @if (Model.UserId == 0)
            {
                <div class="form-group">
                    <label for="UserName"><span>@lang.Username</span></label>
                    <div class="input-wrap">
                        <div class="col-sm-3"><input type="text" value="@Model.UserName" class="form-control" name="UserName" id="UserName"/></div>
                        <span class="form_tip"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email"><span>@lang.Email</span></label>
                    <div class="input-wrap">
                        <div class="col-sm-3"><input type="text"  value="" name="Email" id="Email" class="form-control"/></div>
                        <span class="form_tip"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Url"><span>@lang.Url</span></label>
                    <div class="input-wrap">
                        <div class="col-sm-3"><input type="text" value="" name="Url" id="Url" class="form-control"/></div>
                        <span class="form_tip"></span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label><span>@lang.Username:</span>@Model.UserName</label>
                </div>
                <input type="hidden" value="@Model.UserName" id="UserName" name="UserName"/>
            }
            <div class="form-group">
                <label for="Content"><span>@lang.Content</span></label>
                <div class="input-wrap">
                    <textarea rows="6" class="form-control" name="Content" id="Content"></textarea>
                    <span class="form_tip viewline"></span>
                </div>
            </div>
            @if (webConfigInfo != null && webConfigInfo.IfValidateCode)
            {
                <div class="form-group">
                    <label for="ValidationCode"><span>@lang.ValidationCode</span></label>
                    <div class="input-wrap">
                        <div class="col-sm-1"><input type="text" value="" name="ValidationCode" id="ValidationCode" class="form-control"/></div>
                        <img src="@Url.Content("~/validateCode.ashx?n=4")" class="validateImg pull-left" title="@lang.ChangeValidationCode" alt=""/>
                        <div class="form_tip validateCodeTip fl">@lang.ValidationCodeError</div>
                    </div>
                </div>
            }
            <div class="form-group loadingwrap">
                <a type="submit" class="btn btn-primary" id="BtnCommentSubmit">@lang.Submit</a> 
                <a class="btn-reply-cancel nodisplay">@lang.Cancel</a>
                <a class="btn-edit-cancel nodisplay">@lang.Cancel</a>
            </div>
        </div>
    </form>
}
else
{
    <div id="mustLoginTip">@lang.MustLogIn, @lang.Please @Html.ActionLink(lang.Login, "LogOn", "Account") @lang.Or @Html.ActionLink(lang.Register, "Register", "Account")</div>
}
